body, html {
	width: 100%;
}
#wrapper {
	width: 100%;
	margin: auto;
	background: url('../img/gradient.png') repeat-x 0 2716px;
}
#content {
	text-align: center;
	width: 900px;
	margin: auto;
	height: 15000px;
}
section {
	display: block;
	position: relative;
	width: 100%;
}
section article {
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
}
/*
Article placements
*/
#sec1art1 { top: 280px; }
#sec1art2 { top: 973px; }
#sec1art3 { top: 1497px; }
#sec1art4 { top: 2267px; }
#sec2art1 { top: 2979px; }
#sec2art2 { top: 3570px; }
#sec2art3 { top: 4390px; }
#sec2art4 { top: 4646px; }
#sec2art9 { top: 6488px; }
#sec2art10 { top: 7891px; }
#sec2art11 { top: 8940px; }
#sec2art12 { top: 9533px; }
#sec3art1 { top: 10033px; }
#sec3art2 { top: 10683px; }
#sec3art3 { top: 11287px; }
#sec3art4 { top: 11679px; }
#sec3art5 { top: 14600px; }

/*
flip lines
*/
#sec1art4 h1 {
	position: absolute;
	right: 0;
	top: 70px;
}
#sec1art4 h1:first-child {
	top: 0;
	left: 10px;
}
#sec1art4 hgroup {
	height: 70px;
	overflow: hidden;
	display: block;
	position: absolute;
	right: 300px;
}
#sec1art4 hgroup h2 {
	margin-bottom: 20px;
}

/*
scroll down
*/
#sec2art1 h1 {
	position: absolute;
	width: 100%;
	text-align: center;
}

/*
viewport
*/
#sec2art4 p {
	position: absolute;
}

#sec2art9 p {
	display: none;
}

#sec2art9 canvas {
	position: absolute;
	top: 100px;
	left: 0;
}

/*
mask
*/
#sec2art10 canvas {
	position: absolute;
	top: 100px;
	left: -300px;
}
#sec2art10 hgroup {
	position: absolute;
	left: 0;
	top: 200px;
	z-index: 1;
}
#sec2art10 hgroup h2 {
	color: #000;
	margin-bottom: 40px;
}

/*
follow
*/
#sec3art4 h1 {
	position: absolute;
}
#sec3art4 hgroup h2 {
	position: absolute;
	left: 200px;
}

/*
scratch
*/
#sec3art5 canvas {
	position: absolute;
	left: 0;
}

/*
implode
*/
#sec2art4 hgroup h1 {
	position: absolute;
	top: 0;
}


/*
Headers
*/
h1, h2 {
	font-size: 46px;
	font-family: BebasNeueRegular, 'Lucida Sans', Helvetica, Arial, sans-serif;
	color: #000;
	text-align: left;
}
.inverse h1, .inverse h2 {
	color: #fff;
}

/*
Global
*/
.blue {
	color: #00ffd0;
}
.red {
	color: #ff663f;
}
p {
	text-align: left;
	font-size: 21px;
	font-family: ArvoRegular, 'Lucida Sans', Helvetica, Arial, sans-serif;
	color: #999;
}