body, html {
	width: 100%;
}
#wrapper {
	width: 100%;
	margin: auto;
	background: url('../img/gradient.png') repeat-x 0 2716px;
}
#content {
	text-align: center;
	width: 900px;
	margin: auto;
	height: 13200px;
}
section {
	display: block;
	position: relative;
	width: 100%;
}
section article {
	display: block;
	position: absolute;
	width: 100%;
}
#wrapper.page {
	background: none;
}
.page #content {
	width: 700px;
	padding: 50px;
	height: auto;
}
.page nav {
	position: absolute;
	top: 100px;
}

/*
nav
*/
#header {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0px;
}
#header h1 {
	text-indent: -9999px;
	background: url('../img/easter2011_siteheader.png') no-repeat;
	height: 100px;
	width: 261px;
}
nav {
	position: absolute;
	top: 0;
	right: 0;
	z-index:100;
}
nav h1 {
	padding: 8px;
	color: #fff !important;
	background: #000;
	font-size: 20px;
	cursor: pointer;
	width: 50px;
	float: right;
	text-align: center;
	margin-bottom: 10px;
}
nav:hover ul {
	display: block;
}
nav ul {
	display: none;
	list-style: none;
	clear:both;
}
nav ul li {
	font-size: 15px;
	font-family: ArvoRegular, 'Lucida Sans', Helvetica, Arial, sans-serif;
	color: #999;
	padding: 5px;
	text-align: right;
}
nav a {
	color: #999;
	padding: 5px;
	text-decoration: none;
}
nav ul li a:hover {
	color: #fff;
	background: #00ffd0;
}

/*
Article placements
*/
#introsec {
z-index:90;
background: #000;
background: rgba(0,0,0,.85);
width: 100%;
height: 100%;
top: 0;
left: 0;
padding-top: 70px;
position: fixed;
text-align: center;
display:none;
}
#introsec h1 {
font-size: 34px;
color: #fff;
width: 674px;
line-height: 45px;
position: relative;
left: 50%;
margin-left: -337px;
padding-top: 30px;
}
#introsec p {
position: relative;
left: 50%;
margin-left: -337px;
padding-top: 15px;
width: 674px;
font-size: 18px;
line-height: 28px;
}
#sec1art1 { top: 280px; width: 400px; }
#sec1art2 { top: 973px; left: 0; }
#sec1art3 { top: 1497px; width: 400px; right: 0; }
#sec1art4 { top: 2267px; left: 0; }
#sec2art1 { top: 3079px; left: 0; }
#sec2art2 { top: 3570px; width: 720px; }
#sec2art3 { top: 4390px; width: 500px; left: 250px; }
#sec2art4 { top: 4646px; left: 0; }
#sec2art9 { top: 6488px; left: 0; }
#sec2art10 { top: 7891px; right: 0; width: 700px; }
#sec2art11 { top: 8940px; left: 0; }
#sec2art12 { top: 9533px; left: 0; }
#sec3art1 { top: 10033px; left: 0; width: 750px; }
#sec3art4 { top: 10379px; left: 0; }
#sec3final { top: 12300px; left: 0; }
#sec3art5 { top: 12350px; left: 0; }

/*
layouts
*/
.background {
	position: absolute;
	z-index: -1;
}
#sec1art1 .background {
	top: -100px;
	left: -100px;
}
#sec1art2 h1 {
	text-align: center;
}
#sec1art2 .background {
	left: 100px;
	top: -130px;
}
#sec1art3 .background {
	left: -100px;
	top: -25px;
}
#sec1art4 .background {
	top: 55px;
	left: 100px;
}
#sec2art2 h1 {
	margin-bottom: 30px;
}
#sec2art4 hgroup h1 {
	font-size: 60px;
}
#sec2art4 hgroup {
	left: 270px;
	width: 400px;
	position: absolute;
}
#sec2art9 {
	width: 500px;
}
#sec2art11 h1 {
	text-align: center;
}
#sec2art12 h1 {
	text-align: center;
}
#sec3art1 div {
	position: absolute;
	top: 50px;
	left: 0;
}

/*
flip lines
*/
#sec1art4 h1 {
	position: absolute;
	left: 280px;
	top: 95px;
}
#sec1art4 h1:first-child {
	top: 0;
	left: 10px;
}
#sec1art4 hgroup {
	height: 50px;
	overflow: hidden;
	display: block;
	position: absolute;
	left: 280px;
	top: 45px;
}
#sec1art4 hgroup h2 {
	margin-bottom: 20px;
	font-size: 60px;
	line-height: 60px;
}

/*
scroll down
*/
#sec2art1 h1 {
	position: absolute;
	width: 100%;
	text-align: center;
}

/*
viewport
*/
#sec2art4 p {
	position: absolute;
}
#sec2art9 canvas {
	position: absolute;
	top: 140px;
	left: 0;
}

/*
mask
*/
#sec2art10 canvas {
	position: absolute;
	top: 30px;
	left: -330px;
}
#sec2art10 hgroup {
	left: -30px;
	position: absolute;
	top: 130px;
	z-index: 1;
}
#sec2art10 hgroup h2 {
	color: #000;
	margin-bottom: 40px;
}

/*
follow
*/
#sec3art4 h1 {
	position: absolute;
	left: 260px;
}
#sec3art4 hgroup h2 {
	position: absolute;
	left: 400px;
}

/*
scratch
*/
#sec3art5 canvas {
	position: absolute;
	left: -24px;
}
#sec3art5 #scratch-hint {
	position: absolute;
	left:400px;
	top: 200px;
	z-index: 10;
}
#sec3art5 #scratch-hint p {
	font-size: 12px;
}
#sec3art5 .after {
	display: none;
	position: absolute;
	top: 470px;
	left:0;
	width: 100%;
	text-align:center;
	z-index: 6;
}

/*
implode
*/
#sec2art4 hgroup h1 {
	position: absolute;
	top: 0;
}

/*
rotate
*/
#sec2art11 #cycle {
	position: relative;
}
#sec2art11 p {
	position: absolute;
	text-align: center;
	top: 250px;
	width: 100%;
}

/*
navs
*/
#sec1art1 #scroll, #why {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
 	text-align: center;
	z-index: 101;
	display: none;
}
#scroll img {
	margin-left: 140px;
}
#why img {
  margin-right: 140px;
}

#sec3final h2 {
width: 100%;
text-align: center;
}

/*
Headers
*/
h1, h2, h3 {
	font-size: 46px;
	font-family: BebasNeueRegular, 'Lucida Sans', Helvetica, Arial, sans-serif;
	color: #000;
	text-align: left;
	font-weight: normal;
}
.inverse h1, .inverse h2 {
	color: #fff;
}

/*
Global
*/
.blue {
	color: #00ffd0;
}
.red {
	color: #ff663f;
}
.white {
	color: #fff;
}
.bebas {
	font-family: BebasNeueRegular, 'Lucida Sans', Helvetica, Arial, sans-serif;
}
p {
	text-align: left;
	font-size: 21px;
	font-family: ArvoRegular, 'Lucida Sans', Helvetica, Arial, sans-serif;
	color: #999;
	margin-bottom: 10px;
	line-height: 25px;
}
.page section {
	text-align: left;
}
.page p {
	font-size: 14px;
	margin-bottom: 10px;
	line-height: 22px;
}
.page section h1, .page section h2 {
	color: #fff;
	margin-bottom: 20px;
	font-size: 20px;
	background: #000;
	padding: 5px;
	display:inline-block;
}
.page section h2 {
	font-size: 16px;
	margin-bottom: 0px;
}
.page section h3 {
	font-family: ArvoRegular, 'Lucida Sans', Helvetica, Arial, sans-serif;
	font-size: 15px;
	margin-top: 10px;
	font-weight: bold;
	color: #999;
	margin-bottom: 10px;
}
a {
	color: #ff663f;
}
a.button {
	font-family: Helvetica, Arial, sans-serif;
	background: #00ffd0;
	color: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.easter {
	display: block;
	width: 594px;
	height: 252px;
	background: url('../img/details.png') no-repeat;
	text-indent: -9999px;
}
.celebrate {
	display: block;
	width: 374px;
	height: 189px;
	background: url('../img/whywecelebrate.png') no-repeat;
	text-indent: -9999px;
}

.church {
	margin-bottom: 30px;
}
